:root{
    --color-pacifico-blue1: #0099cc;
    --color-pacifico-blue2: #0075B0;
    --color-pacifico-blue3: #00375E;
    --color-pacifico-blue4: #DEF5FD;

    --body-style:{
        font-family: Foco;
    }
    
}
body{
    background-color: var(--color-pacifico-blue1);
    @apply --body-style;
}